{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Gestión de Proyectos</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus dolores ipsam a officiis necessitatibus explicabo, corrupti hic, dignissimos corporis illum error! Recusandae magnam dolorem odit atque, vel nulla! Fugit dicta veritatis sint harum eum facere tenetur, sequi dolores laudantium, perspiciatis porro dolore molestiae magnam totam alias ad quisquam iste maiores quod! Cumque aliquam cupiditate rerum nihil omnis hic animi odio magni illum nostrum esse dolorem quos quod doloremque saepe commodi, quam nemo laborum nam ducimus dicta laboriosam vero. Enim, quod ex dicta quos voluptatum sint esse aspernatur ad facilis repellendus. Neque, fuga. Eveniet impedit ducimus laborum, harum maiores at sit?</p>

    <div class="text-center">
    <a class="btn btn-primary" href="/signin/">Identificación</a>
    <a class="btn btn-dark" href="/signup/">Registro</a>
    </div>
    </section>
</main>
{% endblock %}